.dev{
    border-top: 1px solid;
}
.mb-2, .span, .h5{text-align: left;}

.div1{
    border: 1px solid;
}
/* .accordion span{font-size: 10px; text-align: left;}
.accordion .ima{padding-left: 60%;} */
.icons{position: absolute;left: 41%; top: 15%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons2{position: absolute;left: 64%; top: 15%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons3{position: absolute;left: 86%; top: 15%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons4{position: absolute;left: 41%; top: 88%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons5{position: absolute;left: 64%; top: 88%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons6{position: absolute;left: 86%; top: 88%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons7{position: absolute;left: 41%; top: 162%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons8{position: absolute;left: 64%; top: 162%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons9{position: absolute;left: 86%; top: 162%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons10{position: absolute;left: 41%; top: 235%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons11{position: absolute;left: 64%; top: 235%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
.icons12{position: absolute;left: 86%; top: 235%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}

.purple{ background: #8434E1; width: 25px; height: 25px; border-radius: 15%;}
.black{background: #252525; width: 25px; height: 25px; border-radius: 15%;}
.red{ background: #F35528; width: 25px; height: 25px; border-radius: 15%;}
.orange{background: #F16F2B; width: 25px; height: 25px; border-radius: 15%;}
.navy{ background: #345EFF; width: 25px; height: 25px; border-radius: 15%;}
.white{ background: #F4F1F1; width: 25px; height: 25px; border-radius: 15%;}
.broom{ background: #D67E3B; width: 25px; height: 25px; border-radius: 15%;}
.green{background: #48BC4E;width: 25px; height: 25px; border-radius: 15%;}
.yellow{background: #FDC761;width: 25px; height: 25px; border-radius: 15%;}
.grey{ background: #E4E5E8;width: 25px; height: 25px; border-radius: 15%;}
.pink{ background: #E08D9D; width: 25px; height: 25px; border-radius: 15%;}
.blue{background: #3FDEFF; width: 25px; height: 25px; border-radius: 15%;}

.ima{
    padding-left: 20px; 
    padding-top: 10%;
}


.prix{
    position: absolute;
border-radius: 8px;
font-family: 'Causten';
color: #3C4242;
padding-left: 85px;
padding-top: 0px;



}
.new{color: blueviolet;}
.text{text-align: left;}

.div21{

    border-left: 5px solid  blueviolet;;
    text-align: left;
    padding-left: 2px;
}
.icon{padding-left: 60%;}

.span{color: #807D7E;
    font-family: Core Sans C;
font-size: 20px;
font-weight: 600;
line-height: 34px;
letter-spacing: 0.02em;
text-align: left;

}
.div2 p{
padding-left: 3px;
color: #807D7E;

    text-align: left;
    
}
.div2 span{
    padding-left: 3px;
    color: #535152;

        text-align: left;
        
    }
.div2{

    
    text-align: left;
    padding-top: 50px;
}
.womens h4{border-bottom: 1px solid #807D7E}
.bestprice h4{border-bottom: 1px solid #807D7E;}
.bestprice p,h4 {padding-left: 25px; }
.womens {padding-left: 25px;border-right: 1px solid #807D7E;}

@media(max-width:767px){
    .bestprice{align-items: center;}
    .cardss{
        align-items: center;
        flex-direction: column;
        padding-left: 0px;
    }
    /* .ima{
        width: 100%;
    } */
    .table{flex-direction: column; align-items: center; }
    .womens {border-right: 0px solid #807D7E;}

}
@media(width:360px){
    .icons{position: absolute;left: 69%; top: 95%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons2{position: absolute;left: 69%; top: 170%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons3{position: absolute;left: 69%; top: 245%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons4{position: absolute;left: 69%; top: 320%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons5{position: absolute;left: 69%; top: 395%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons6{position: absolute;left: 69%; top: 470%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons7{position: absolute;left: 69%; top: 545%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons8{position: absolute;left: 69%; top: 620%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons9{position: absolute;left: 69%; top: 695%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons10{position: absolute;left: 69%; top: 770%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons11{position: absolute;left: 69%; top:845%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons12{position: absolute;left: 69%; top: 920%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}

}
@media(width:375px){
    .icons{position: absolute;left: 69%; top: 91%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons2{position: absolute;left: 69%; top: 162%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons3{position: absolute;left: 69%; top: 234%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons4{position: absolute;left: 69%; top: 305%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons5{position: absolute;left: 69%; top: 377%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons6{position: absolute;left: 69%; top: 450%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons7{position: absolute;left: 69%; top: 520%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons8{position: absolute;left: 69%; top: 590%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons9{position: absolute;left: 69%; top: 662%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons10{position: absolute;left: 69%; top: 733%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons11{position: absolute;left: 69%; top:805%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons12{position: absolute;left: 69%; top: 877%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}

}
@media(width:414px){
    .icons{position: absolute;left: 69%; top: 67%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons2{position: absolute;left: 69%; top: 122%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons3{position: absolute;left: 69%; top: 175%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons4{position: absolute;left: 69%; top: 228%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons5{position: absolute;left: 69%; top: 281%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons6{position: absolute;left: 69%; top: 334%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons7{position: absolute;left: 69%; top: 387%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons8{position: absolute;left: 69%; top: 440%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons9{position: absolute;left: 69%; top: 493%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons10{position: absolute;left: 69%; top: 546%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons11{position: absolute;left: 69%; top:599%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}
    .icons12{position: absolute;left: 69%; top: 652%;background: white; border-radius: 50%;width: 25px; height: 25px; padding: 10px;}

}