.nav{
    color: black;
    display: block;
    float: none;
        /* position: fixed;
        z-index: 100; */
    width: 100%;
    margin-bottom: 1%;
    
}

.Link{
    text-decoration: none;
}

*{
    text-decoration: none;
}  